*{
    margin: 0;
    padding: 0;
}
main{
    text-align: center;
    background-color: rgba(32, 31, 31, 0.671);
}
nav{
    padding: 1px;
}
menu{
    background-color: rgba(0, 0, 0, 0.623);
    text-align: end;
}
nav{ text-align: center;
    text-decoration: overline;
    background-color: rgba(0, 0, 0, 0.473);
}
footer{
    text-align: center;
    text-decoration: dotted;
    background-color: rgba(0, 0, 0, 0.473);
}
header{
    text-align: end;
    text-decoration: dotted;
    background-color: rgba(0, 0, 0, 0.671);
}
form{
    background-color: rgba(0, 0, 0, 0.473);
}